/****************************TAG SELECTOR****************************/

body {
    background-color: #EAF6F6;
}

hr {
    border-style: none;
    border-top: 8px dotted grey;
    height: 1px;
    width: 10%;
}

h1,
h3 {
    color: #66BFBF;
}


/****************************CLASS SELECTOR****************************/

.Red_Hobbies:hover {
    color: red;
}


/****************************ID SELECTOR****************************/

#Green_Contact {
    color: green;
}